*{
    margin: 0;
    
}
  /* ============== user card================== */
#usercard{
    margin-bottom: 200px; 
    height:500px;
    top: 50px;
    left: 185px;
    box-shadow:1px 1px 10px grey ;
    /* border-radius: 20px; */
/* 
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
 }  

 #usercard:hover {
  transform: translateY(-8px);
}

#usercard-body>input{
    border-top:none;
    border-left:none;
    border-right: none;
    /* width: 100%; */
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

#usercard input:focus {
  border-color: #74b9ff;
}

#usercard-body>button{
    justify-content: center;
    border-radius:20px;
    cursor: pointer;
    transition:0.3s;
     background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
}

#usercard button:hover {
  background:  #38ef7d;
}


#usercard-header>h5{
    text-align: center;
    justify-content: center;
    color: white;
    /* background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); */
}
#usercard-header{
   background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
   border-radius: 4px 4px 0 0;
   
   padding: 8px 16px;   
}


#usercard-body>div{
    text-align: center;
    color: grey;
}

#bguser{
   background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
   height: 728px;
   /* background: linear-gradient(135deg, #56ab2f 0%, #a8e063 100%); */
   /* background: linear-gradient(135deg, #f9d423 0%, #56ab2f 100%); */
   /* width:1500px; */
}

/* #samplecard{
    margin-top:40px;
} */


/* ============================================top bar=============================== */
.top-bar{
     
  background-color:#208718; 
   /* background-color:#4CAF50 ; */
   /* background-color: #32CD32; */
   /* background-color:gb(11, 12, 10)F59; */
   /* position: fixed;
   z-index:1; */
}

.top-bar>img{
    border-radius:30px;
    /* margin-left: 250px; */
}

.top-bar>a{
    text-decoration: none;
    
}


/* ==================navbar=================================== */

.navbar{
     background-color:#174733 ; 
     /* position: fixed;
     z-index: 1;
     width:1550px;
     margin-top: 40px; */
    
}
/* .navbar>.container-fluid{
     position: fixed; 
     z-index: 1; 
} */

.navbar>.container-fluid>.d-flex>img{
    border-radius:50px;
}
.navbar-toggler{
    border-color: white;
    outline: none;
    background: transparent;
}
.navbar>.container-fluid>.d-flex>.d-flex>#searchimg{
    height:20px;
    margin-top: 30px;
    width: 20px;
}
 
@media(max-width:720px){
    #search{
        width: 40px;
    }
    .navbar-toggler{
        margin-left:90px;
        
    }
    .navbar>.container-fluid>.d-flex>.d-flex>#searchimg{
       margin-left:200px;
       margin-top:20px;
    }
    .navbar>.container-fluid>.d-flex>.d-flex.cart{
        margin-top:40px;
    }
}

/* =============================Footer=============================== */

#Footer{
    background-color:black;
    color: white;
    
}

/* =====================offcanvas================================== */
.offcanvas-body>ul{
    list-style: none;
}

.offcanvas-body>ul>li{
    border-bottom: 1px solid grey;
    padding: 10px;
    
}

.offcanvas-body>ul>li>a{
  color: #2c2b2b;
  text-decoration: none;
}

/* ========================link page======================== */

#page>a,link,#dropdown{
    text-decoration: none;
    color:black;
    /* box-shadow:1px 1px 10px #c3b8b8; */
    
}
#page>#dropdown>a{
    /* margin-left: 50px; */
    /* display: flex;
    justify-content:space-between; */
    /* padding-left: 100px; */
    /* width:50px; */
}
#page1>#page>#link,#dropdown{
    font-family: 'Poppins', sans-serif;
}

 #page>Link{
    margin-left: 100px;
    display: flex;
    justify-content:space-between;
    padding-left: 100px;
 }

 #page1>#page>#dropdown>#dropdownMenuLink{
    text-decoration:none;
    color:black
 }
 #page>#link{
    margin-right: 400px;
 }

 /* ======swipper=================================== */
 .swiper1>img{
  height:650px;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
 }
 .swipercontent1{
    position: absolute;
    /* top: 500px;
    left: 600px; */
    color:white ;
    top: 35%;
    left: 35%;
    font-family:"Poppins", sans-serif;
 }
 .swipercontent1>h5{
    margin-left: 100px;
    
 }
 .swipercontent1>h1{
    position: relative;
 }
 .swipercontent1>.btn{
    margin-left:90px;
    /* display: flex;
    justify-content: center; */
    /* width: 100px; */
 }

 /* ====================@media================= */
 @media(max-width:720px) {
    .swipercontent1{
        position: absolute;
        top: 110px;
        left:100px;
        
    }
    .swipercontent1>h5{
       font-size:12px;
       left: 40px;
       margin-left: 50px;
    }
    .swipercontent1>h1{
        font-size: 16px;
        margin-left:10px;
    }
    .swipercontent1>.btn{
        margin-left:40px;
        align-items: center;
        width:100px;
        height: 30px;
        font-size: 12px;
    }
    .swiper1>img{
        height:300px;
    }
    
 }

 /* ========================endd============================ */
 .swipercontent4>.root,.root1{
    position: absolute;
    /* top: 500px;
    left: 600px;  */
    color:white;
    top: 30%;
    left: 20%;
 } 
 .swipercontent4>.root{
    top: 165px;
 }
 .swipercontent4>a{
        margin-left:40px;
        width:100px;
        height: 30px;
        font-size:12px;
        position:ab;
       
    }
 
/* ================Flash deals======================== */
#card{
  height:330px;
  min-height:280px;
  width:100%;
  padding-right:10px;
  position: relative;
  overflow: hidden;
  background-color: #bcdfbb;
  margin-bottom: 30px;
  margin-top:20px;
}
.img1>img{
    height:150px;
    width:100%;
    margin-top:7px;
    object-fit: cover;
}
.img1>img:hover{
     transform: scale(1.05)
}
#card-body>h5{
 margin-left: 40px;
 font-size: medium;
}
#card-body>h6{
    margin-left: 50px;
}
#card-body>p{
    margin-left: 50px;
    color: gray;
}
/* .card-container{
  display: flex;      
  flex-wrap: wrap;     
  gap: 20px;            */
  /* justify-content: flex-start;
  height:400px;
  width:300px;
} */ */

/* @media(max-width:720px){
    #card{
        height:50px;
        width:40px;
    }
}

/* =================delivery ========================== */
#delivery{
    padding: 10px;
    align-items: center;
    height: 200px;
    /* background-color: #f4f2e9; */
}
#delivery>h1{
    margin-left: 450px;
    margin-top: 35px;
     /* background-color: #f4f2e9; */
}
#delivery>.para{
    margin-left:250px;
}

@media(max-width:720px){
    #delivery{
      /* position:absolute; */
      margin-bottom:40px;
      background: #f4f2e9;
      margin-top: 10px;
      padding:10px;
    }
    #delivery>h1{
        margin-left:40px;
        font-size:large;
        /* margin-top:450px; */
    }
    #delivery>.para{
        margin-left:30px;
        font-size:small;
        /* margin-top: 70px; */
    }
}

/* ======================deals================== */
#cardimg{
  height:400px;
  width:2500px;
  padding-right:10px;
  position:relative;
  overflow: hidden;
  background-color: #bcdfbb;
  margin-bottom: 30px;
  margin-top: 20px;
}

#imgdeal{
    height:200px;
    width:250px;
    margin-top:10px;
    margin-left:12px;
}
#imgdeal:hover{
   transform: scale(1.05)
}

.badge{
    background-color:#208718;
    margin-left:0px;
    height:20px;
    /* align-items: center; */
    /* border-radius:4px 0 4px 0 ; */
}
#cardimg>#imgcontent>.name{
    margin-left:45px;
    font-size: medium;
}
#cardimg>#imgcontent>h6{
     margin-left:50px;
}
#cardimg>#imgcontent>p{
     margin-left:50px;
     color: gray;
}
#btn{
    background-color:#208718;
    color: white;
    margin-top: auto;
}
/* ================section=================== */
#sectioncontent>a{
   background-color: black;
   color: white;
   position: relative;
}
#sectioncontent>a{
    position:relative;

}
#sectioncard{
    position:relative;
    margin-right:900px;
    height: 330px;
    width: 100%;
    padding-bottom:20px;
    border-radius:20px;

}

/* #sectioncard:hover{
    zoom:1.3;
    overflow:hidden;
    transition: 2s; */
/* } */
#sectioncard>#sectionimg{
    height:330px;
    width:100%;
}
#sectioncard:hover{
    transform: scale(1.05)
}
#sectionrow{
    margin-top: 30px;
}

#sectionrow2{
    margin-top:50px;
}
#sectioncontent {
  position: absolute;
  top: 40%;          
  left: 45%;         
  text-align: center;
}
#sectioncontent .btn {
  background-color:black;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}


/* =================vegetable=============== */
#cardveg{
  margin-left:40px;
  margin-right:40px;
  height:400px;
  width: 300px;
  margin-bottom: 60px;
  margin-top: 20px; 
}
#alist{
    color:black;
}
#listgroup>li{
    margin-top: 5px;
}
#listgroup{
    margin-bottom: 20px;
    margin-top: 20px;
}
#listgroup>li>a{
    margin-left:20px;
    width: 50px;
}
#rowveg{
    justify-content:flex-start;
}
#vegh5{
    margin-left:45px;
    font-size:medium;
}
#vegh6{
    margin-left: 50px;
    font-size: medium;
    font-weight: 400;
}
#vegp{
    font-size:medium;
    font-weight: 200;
}
#cardveg>#vegimg{
    height: 200px;
    width: 200px;
    margin-left:5opx;
}
#cardveg>#vegimg:hover{
    transform: scale(1.05)
}
/* ==================productbody===================== */
#productcard{
   
    margin-top:40px;
    margin-bottom:40px; 
    margin-left:00px;
    /* background-color: #aae8a8; */
} 

#productcard>#productimg{
    width:300px;
    height:300px;
    margin-left: 80px;
    margin-top:30px;
}
#productcard>#productbody>#producth5{
   /* margin-left: 140px;
   margin-top: 200px; */
}
#productcard>#productbody>#producth6{
   margin-left: 80px;
}
#productcard>#productbody>#productp{
   margin-left: 80px;
}
@media(max-width:720px){
   #productcard{
    width:340px;
    height:450px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:20px;
    background-color: #aae8a8;
}   
#productcard>#productimg{
    width:200px;
    height:200px;
    margin-left: 68px;
    margin-top:10px;
} 
#productcard>#productbody>#producth5{
   margin-left: 70px;
}
#productcard>#productbody>#producth6{
   margin-left: 40px;
}
#productcard>#productbody>#productp{
   margin-left: 40px;
}

}
.offcanvas{
    width: 100%;
    height:100%;
}

/* ===================search================= */
#imgsearch{
    height: 200px;
    width: 200;
}


#searchcard{
     height:400px;
     width: 300px;
     /* padding:20px; */
     margin-right:30px;
}

/* =============contact=================*/
#contacttopic{
    font-weight: bold;
    /* margin-left:400px; */
}
#contactmail{
    margin-left:100px;
    font-weight:bold;
}
#contactmail1{
    margin-left:0px;
    font-size:large;
    
}
#contacticon1{
    margin-left:100px;
    margin-top:300px;
}
#rowcontact>#cardcontact>#contacticon2{
    margin-left:400px;
    margin-top:300px;
}
#cardcontact{
    height:400px;
    width: 500px;
}
#address{
    margin-left:200px;
}
#location{
    margin-left:200px;
}
#contactaddress{
    margin-left:170px;
    font-weight:bold;
}
.social-icons a {
  display: inline;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 50%;  
  border: 2px solid transparent;
  color: #333;  
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  border: 2px solid #208718; 
  background:#208718;         
  color: #fff;                 
  transform: scale(1.1);      
}

/* ==========about============ */
/* #aboutcard>#aboutaos>#boutrow>#aboutcol1>#aboutimg{
    height:400px;
    width
} */